In [18]:
import random
import numpy as np

np.random.seed(1234)
random.seed(1234)

In [19]:
# 使用するパッケージ（ライブラリと関数）を定義
# 標準正規分布の生成用
from numpy.random import *

# グラフの描画用
import matplotlib.pyplot as plt

# SciPy 平均0、分散1に正規化（標準化）関数
import scipy.stats

# シグモイド関数をimport
from scipy.special import expit

# その他
import pandas as pd

In [22]:
#データ数
num_data = 200

#年齢
x_1 = randint(15, 76, num_data)

#性別
x_2 = randint(0, 2, num_data)

In [26]:
#ノイズの生成
e_z = randn(num_data)

#シグモイド関数に入れる部分
z_base = x_1 + (1-x_2)*10 - 40 + 5*e_z


#シグモイド関数を計算
z_prob= expit(0.1 * z_base)

In [27]:
#テレビをみたかどうか
Z = np.array([])

for i in range(num_data):
    Z_i = np.random.choice(2, size=1, p=[1 - z_prob[i], z_prob[i]])[0]
    Z = np.append(Z, Z_i)

In [28]:
#ノイズの生成

e_y = randn(num_data)
Y = -x_1 + 30*x_2 + 10*Z + 80 + 10*e_z

In [29]:
df = pd.DataFrame({
    "年齢":x_1,
    "性別":x_2,
    "CMをみた":Z,
    "購入量": Y
})

In [30]:
df.head()

   年齢  性別  CMをみた         購入量
0  64   0    1.0   25.808880
1  49   1    0.0   54.282522
2  47   0    1.0   50.641441
3  75   0    1.0   -3.023445
4  37   1    1.0  102.894621

In [34]:
print(df[df["CMをみた"] == 1.0].mean())
print(df[df["CMをみた"] == 0].mean())

年齢       52.729323
性別        0.473684
CMをみた     1.000000
購入量      52.636736
dtype: float64
年齢       31.477612
性別        0.552239
CMをみた     0.000000
購入量      64.752866
dtype: float64